<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="loggr">
      <section name="log" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <loggr>
    <log>
      <add key="logKey" value="#####"/>
      <add key="apiKey" value="#####"/>
      <add key="server" value="post.loggr.net"/>
      <add key="version" value="1"/>
    </log>
  </loggr>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
